<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheTrainApp</title>
</head>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}

<link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">
<body>
    <!--<h3>The Train App</h3>-->

    <!--<div>-->
        <!--<p>Here you can check the current status of your train.</p>-->

        <!--<form action="{% url 'get_status' %}" method="post">-->
            <!--{% csrf_token %}-->
            <!--<label>Train Number: </label>-->
            <!--<input type="number" name="train_no" placeholder="train_number"><br>-->
            <!--<label>Date : </label>-->
            <!--<input type="date" name="date"><br>-->
            <!--<button type="submit" name="submit">Get Status</button>-->
        <!--</form>-->
    <!--</div>-->

    <!--<div>-->
        <!--<ul>-->
            <!--{% for data in station_data %}-->
                <!--<li>{{ data }}</li>-->
            <!--{% endfor%}-->
        <!--</ul>-->

        <!--<p><b>Live</b> {{ current_station }}</p>-->
    <!--</div>-->





<!------ Include the above in your HEAD tag ---------->

<!-- Services section -->
	<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">The Train App</h2>
			<p class="text-center text-muted h5">Provide the most accurate and reliable answers to all your queries regarding railways.</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Live Running Status</h3>
							<p class="card-text">Get the latest updates about your train position.</p>
							<a href="{% url 'liveStatus' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">PNR Status</h3>
							<p class="card-text">Get the latest update about your pnr status.</p>
							<a href="{% url 'pnrStatus' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Seat Availability</h3>
							<p class="card-text">Check for the availability of seats on your desired trains.</p>
							<a href="{% url 'seatAvailability' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Trains Between Stations</h3>
							<p class="card-text">Check the available trains for your desired journey.</p>
							<a href="{% url 'trains' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Train Route</h3>
							<p class="card-text">Get the route of your train with intermediate stations.</p>
							<a href="{% url 'route' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Fare Enquiry</h3>
							<p class="card-text">Get the price of tickets available on IRCTC.</p>
							<a href="{% url 'fare' %}" title="Read more" class="read-more" >Next<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    </body>
</html>